<div class="row">
  <div class="col-xs-12 text-center">
    <img src="{{recipe.recipeImgPath}}" alt="{{recipe.recipeImgPath}}" class="img-fluid" height="300px" width="500px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <h1>{{recipe.recipeName}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <h4>{{recipe.recipeDesc}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    Ingredient
  </div>
</div>
